body{
	height: 100%;
}
header{
	/*background: #C08E8F;*/
	height: 100px !important;
	border: 1px solid #e78f08 !important;
  	background: #f6a828 url("../js/jquery-ui-1.11.4/images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x !important; 
	width: 100%;
}
footer{
	/*background: #C08E8F;*/
	height: 100px !important;
	border: 1px solid #e78f08 !important;
  	background: #f6a828 url("../js/jquery-ui-1.11.4/images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x !important; 
}
.left{
	background: #8FB5C0 !important;
}
.right{
	background: #8FB5C0 !important;
}
.content{
	border: 1px solid #dddddd !important;
  	background: #eeeeee url("../js/jquery-ui-1.11.4/images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x !important;
	/*background: #B48EBF;*/
}
/*.form-login{
	position: absolute;
	width: 200px;
	right: 0;
}*/

/*forms*/
.overlay{
	position: absolute;
	overflow: auto;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9) url(../images/bg.png) repeat;
	z-index: 10000;
	/*vertical-align: middle;*/
}
.forms{
	display: block;
	z-index: 10000;
	position: absolute;
	width: 600px;
	padding:10px;
	height: 300px;
	left: 50%;
	top: 50%;
	margin-left: -305px;
	margin-top: -155px;
	text-align: center;
}
.login-form {
	width: 300px;
	position: absolute;
	top: 0;
	right: 0;
}
div.autoris{
	right: 300px;
}
.login-form h1 {
	background-color: #282830;
	border-radius: 0 5px 0 0;
	color: #fff;
	font-size: 14px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	/*z-index: 100;*/
}
.autoris h1 {
	border-radius: 5px 0 0 0;
}
.login-form fieldset {
	background: rgba(255,255,255, 0.9);
	border-radius: 0 0 5px 0;
	padding: 20px;
	position: relative;
}
.autoris fieldset {
	border-radius: 0 0 0 5px;
}
.login-form fieldset:before {
	background-color: #282830;
	content: "";
	height: 8px;
	left: 50%;
	margin: -4px 0 0 -4px;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
	overflow: hidden;
}
.login-form input {
	font-size: 14px;
}
.login-form input[type="email"],
.login-form input[type="password"] {
	border: 1px solid #dcdcdc;
	padding: 12px 20px;
	width: 200px;
}
.login-form input[type="email"] {
	border-radius: 3px 3px 0 0;
}
.login-form input[type="password"] {
	border-top: none;
	border-radius: 0px 0px 3px 3px;
}
.login-form input[type="button"] {
	background: #8FB5C0;
	border-radius: 3px;
	color: #fff;
	float: right;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
}
.autoris input[type="button"]{
	margin-top: 62px;
}
.login-form input[type="button"]:hover { 
	background: #6DB1C5; 
}
/* end forms */
.none{
	display: none;
}